


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/CSS/LoginSearch.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://kit.fontawesome.com/175adea707.js" crossorigin="anonymous"></script>
</head>

<body>
    <img style="margin-top:10%;max-width:30%" src="~/Images/jooleLogo.png" />
    <h3 style="margin-bottom:20px;">Building Product Selection Platform</h3>
    @RenderBody()
</body>

</html>





